@media #{$tablet-768} {
    .list {
        display: flex;
        flex-direction: row;
        gap: 0;

        .link-box {
            padding: 0 2px;
            border-right: 2px solid $white-color-2;
            display: flex;
            flex-direction: row;
            // justify-content: center;

            &:last-child {
                border-right: 2px solid transparent;
            }
        }
    }
}

@media #{$tablet-834} {
    .list {
        .link-box {
            padding: 0 12px;

            &:first-child {
                padding-left: 0;
            }
        }
    }
}
