@media #{$tablet-768} {
  .wrapper {
    margin-bottom: 96px;
  }

  .portfolio {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .form {
    .inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      input {
        width: 100%;
      }
    }
  }
}

@media #{$tablet-1024} {
  .portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form {
    width: 420px;
    min-width: 420px;

    .inputs {
      display: flex;
      flex-direction: column;
    }
  }
}
