$screen: "only screen";

$min-width-device: 320px;
$max-width-device: 5920px;

// 

$mobile-320-start: $min-width-device;
$mobile-320-end: 375px;

$mobile-375-start: $mobile-320-end;
$mobile-375-end: 414px;

$mobile-414-start: $mobile-375-end;
$mobile-414-end: 768px;

$tablet-768-start: $mobile-414-end;
$tablet-768-end: 834px;

$tablet-834-start: $tablet-768-end;
$tablet-834-end: 1024px;

$tablet-1024-start: $tablet-834-end;
$tablet-1024-end: 1280px;

$tablet-1280-start: $tablet-1024-end;
$tablet-1280-end: 1440px;

$desktop-1440-start: $tablet-1280-end;
$desktop-1440-end: $max-width-device;

// 

$mobile-320: "#{$screen} and ( min-width: #{$mobile-320-start})";
$non-mobile-320: "#{$screen} and (max-width: #{$mobile-320-start})";
$mobile-320-only: "#{$mobile-320} and (max-width: #{$mobile-320-end})";

$mobile-375: "#{$screen} and ( min-width: #{$mobile-375-start})";
$non-mobile-375: "#{$screen} and (max-width: #{$mobile-375-start})";
$mobile-375-only: "#{$mobile-375} and (max-width: #{$mobile-375-end})";

$mobile-414: "#{$screen} and ( min-width: #{$mobile-414-start})";
$non-mobile-414: "#{$screen} and (max-width: #{$mobile-414-start})";
$mobile-414-only: "#{$mobile-414} and (max-width: #{$mobile-414-end})";



$tablet-768: "#{$screen} and (min-width: #{$tablet-768-start})";
$non-tablet-768: "#{$screen} and (max-width: #{$tablet-768-start})";
$tablet-768-only: "#{$tablet-768} and (max-width: #{$tablet-768-end})";

$tablet-834: "#{$screen} and (min-width: #{$tablet-834-start})";
$non-tablet-834: "#{$screen} and (max-width: #{$tablet-834-start})";
$tablet-834-only: "#{$tablet-834} and (max-width: #{$tablet-834-end})";

$tablet-1024: "#{$screen} and (min-width: #{$tablet-1024-start})";
$non-tablet-1024: "#{$screen} and (max-width: #{$tablet-1024-start})";
$tablet-1024-only: "#{$tablet-1024} and (max-width: #{$tablet-1024-end})";

$tablet-1280: "#{$screen} and (min-width: #{$tablet-1280-start})";
$non-tablet-1280: "#{$screen} and (max-width: #{$tablet-1280-start})";
$tablet-1280-only: "#{$tablet-1280} and (max-width: #{$tablet-1280-end})";



$desktop-1440: "#{$screen} and (min-width: #{$desktop-1440-start})";
$non-desktop-1440: "#{$screen} and (max-width: #{$desktop-1440-start})";
$desktop-1440-only: "#{$desktop-1440} and (max-width: #{$desktop-1440-end})";

// 

:export {
    mobile: $mobile-320;
    tablet: $tablet-768;
    desktop: $desktop-1440;
    // 
    mobile-320: $mobile-320;
    mobile-375: $mobile-375;
    mobile-414: $mobile-414;
    tablet-768: $tablet-768;
    tablet-834: $tablet-834;
    tablet-1024: $tablet-1024;
    tablet-1280: $tablet-1280;
    desktop-1440: $desktop-1440;
}
