@mixin scrollbar($width: 0, $height: 0) {

    &,
    * {
        &::-webkit-scrollbar {
            width: $width;
            height: $height;
        }

        @if $width ==0 {
            @-moz-document url-prefix() {
                scrollbar-width: none;
            }
        }
    }
}

@mixin transition($transition-time) {

    &,
    & * {
        transition: all $transition-time;
    }
}

@mixin mouse-hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}

@mixin user-select-disable {
    -webkit-touch-callout: none; //  iOS Safari 
    -webkit-user-select: none; // Safari
    -khtml-user-select: none; // Konqueror HTML 
    -moz-user-select: none; // Old versions of Firefox 
    -ms-user-select: none; // Internet Explorer/Edge 
    user-select: none; // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin disable-interaction {

    &,
    & * {
        @include user-select-disable; // user-select: none;
        touch-action: none;
        pointer-events: none;
    }
}

@mixin moz-style {
    @-moz-document url-prefix() {
        @content;
    }
}

@mixin font($font-size, $font-weight, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}
