@media #{$tablet-768} {
    .services {
        .service {
            position: relative;
            padding: 32px 32px 64px;
            padding-right: 64px;
            display: flex;
            flex-direction: row-reverse;

            .text-box {
                gap: 16px;

                .title {
                    font-size: 19px;
                    font-weight: 500;
                    line-height: 28px;
                }

                .points {
                    .point {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }

                .description {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }
    }
}

@media #{$tablet-1024} {
    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .service {
            padding: 24px 24px 48px;
            padding-right: 48px;

            .img {
                position: absolute;
                top: 24px;
                right: 48px;
            }

            .text-box {
                gap: 8px;

                .title,
                .points {
                    padding-right: 80px;
                }
            }
        }
    }
}

@media #{$tablet-1280} {
    .services {
        .service {
            padding: 32px 32px 64px;
            padding-right: 64px;

            .img {
                position: static;
            }

            .text-box {

                .title,
                .points {
                    padding-right: 0;
                }
            }
        }
    }
}
