@media #{$tablet-768} {
    .wrapper {
        margin-top: 96px;
    }

    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media #{$tablet-1024} {
    .services {
        .service {
            gap: 16px;
        }
    }
}

@media #{$tablet-1280} {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
