@import '@global-styles-assets/all.scss';

$mobile-inner-padding: $mobile-extra-padding;
$tablet-inner-padding: $tablet-extra-padding;
$desktop-inner-padding: $desktop-extra-padding;

.wrapper {
    padding: 0 $module-base-padding;
    margin-bottom: 64px;
    overflow: visible;
}

.map-box {
    height: auto;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@media #{$tablet-768} {
    .wrapper {
        margin-bottom: 96px;
        padding: 0 calc($module-base-padding + $mobile-extra-padding);
    }

    .map-box {
        height: auto;
        aspect-ratio: 1.8;
        border-radius: 20px;
    }
}

@media #{$tablet-1024} {
    .map-box {
        height: auto;
        aspect-ratio: 2;
    }
}

@media #{$desktop-1440} {
    .wrapper {
        margin-bottom: 96px;
        padding: $module-base-padding;
    }

    .map-box {
        height: auto;
        aspect-ratio: 2.25;
    }
}
